<package xmlns="http://expath.org/ns/pkg" spec="1.0" name="@package.ns@" abbrev="@package.target@" version="@package.version@">
    <title>@package.title@</title>
    <dependency processor="http://exist-db.org" semver-min="5.0.0"/>
</package>