<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@package.description@</description>
    <author>@package.author@</author>
    <website>@package.website@</website>
    <status>@package.status@</status>
    <license>@package.license@</license>
    <copyright>@package.copyright@</copyright>
    <type>@package.type@</type>
    <target>@package.target@</target>
    <prepare />
    <finish />
<!-- 
    <prepare>@package.prepare@</prepare>
    <finish>@package.finish@</finish>
-->
</meta>